.game{
    display: grid;
    grid-template-columns: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
}
.game>div{
    border: 1px solid black;
    width: 30px;
    height: 30px;
}
button{
    width: 50px;
    height: 50px;
    margin: 10px;
}
.controls{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    ". buttonUp ."
    "buttonLeft . buttonRight"
    ". buttonDown ."
    ;
    width: 200px;
    height: 200px;
}
#buttonUp{
    grid-area: buttonUp;
}
#buttonLeft{
    grid-area: buttonLeft;
}
#buttonRight{
    grid-area: buttonRight;
}
#buttonDown{
    grid-area: buttonDown;
}
.dashboard{
    display: grid;
    grid-template-columns: 1fr 600px;
}