#container{
    width: 900px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #D0DDD7;
    padding: 10px;
}
header{
    background-color: #7E846B;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
header img{
    width: 100px;
    display: inline-block;
}
header h1{
    display: inline-block;
    margin: 0;
}
nav{
    background-color: #594E36;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}
nav a{    
    color: #D0DDD7;
    text-decoration: none;
    font-size: 20px;
    margin: 10px 40px;
    padding: 5px;
    border-radius: 5px;
}
nav a:hover{
    background-color: #A5AE9E;
    color: #2F2504;
}
main{
    background-color: #7E846B;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
footer{    
    background-color: #594E36;
    padding: 10px;
    border-radius: 5px;
    color: #D0DDD7;
    text-align: center;
}